@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1600px)  {
    .container  {
        max-width:1600px
    }
}

body  {
    overflow-x:hidden;
}

html  {
    scroll-behavior:auto;
    scroll-behavior:smooth;
}